Task 02

In [21]:
import pandas as pd
import os

2.1 Reading and combining data

In [22]:
# Define the file directory
file_path = r"Wine_Stats"

# List all CSV files
csv_files = [
    "Australia_Wine_Stats.csv", "Chile_Wine_Stats.csv", "France_Wine_Stats.csv",
    "Italy_Wine_Stats.csv", "New Zealand_Wine_Stats.csv", "Portugal_Wine_Stats.csv",
    "Spain_Wine_Stats.csv", "USA_Wine_Stats.csv"
]

# Load CSV files into DataFrames
dfs = [pd.read_csv(os.path.join(file_path, file)) for file in csv_files]

# Combine all DataFrames into one
wine_df = pd.concat(dfs, ignore_index=True)

# Display the combined DataFrame
wine_df

,Unnamed: 0,Name,Rating,Number of Ratings,Price,Region,Winery,Wine style,Alcohol content,Grapes,Food pairings,Bold,Tannin,Sweet,Acidic
0,0,Fields Of Joy Shiraz 2014,4.0,203,28.99,Australia / South Australia / Mount Lofty Rang...,Two Hands,Australian Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,47.13000,20.62,43.570
1,1,Shotfire GSM 2018,3.9,36,19.49,Australia / South Australia / Barossa,Thorn-Clarke,Australian Rhône Blend Red,14.500000,"Mourvedre, Shiraz/Syrah, Grenache","['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']",85.00,50.63000,9.05,43.000
2,2,Passion has Red Lips 2020,3.8,350,27.50,Australia / South Australia / Fleurieu / McLar...,Some Young Punks,Australian Cabernet - Shiraz,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",85.00,49.37000,8.19,44.780
3,3,The Hermit Crab Viognier - Marsanne 2018,3.8,1026,16.99,Australia / South Australia / Fleurieu / McLar...,d'Arenberg,NaN,13.794543,NaN,[],61.73,46.29527,9.05,53.555
4,4,Cabernet Sauvignon (Batch No. 1 & 3) 2019,3.8,969,14.99,Australia / South Eastern Australia,Gentleman's Collection,Australian Cabernet Sauvignon,13.794543,NaN,"['Beef', 'Lamb', 'Poultry']",76.34,49.36000,16.02,47.890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5140,667,Katherine Goldschmidt Stonemason Hill Cabernet...,4.1,80,25.99,United States / California / North Coast / Son...,Goldschmidt Vineyards,Californian Cabernet Sauvignon,13.794543,NaN,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",82.71,48.87000,7.37,43.770
5141,668,Pessimist Red Blend 2020,4.0,574,17.99,United States / California / Central Coast / S...,DAOU,Californian Red Blend,15.200000,100 Durif,"['Beef', 'Lamb', 'Veal', 'Poultry']",85.00,53.43000,15.96,61.840
5142,669,Cabernet Sauvignon 2013,3.8,4612,34.99,United States / California / Central Coast / S...,Liberty School,Californian Cabernet Sauvignon,13.500000,100 Cabernet Sauvignon,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,49.14000,9.63,42.020
5143,670,Petit Verdot 2017,4.2,53,34.99,United States / California / Central Coast / S...,Opaque,NaN,13.794543,NaN,[],61.73,46.29527,9.05,53.555
5144,671,Freakshow Chardonnay 2020,3.8,160,17.99,United States / California / Central Valley / ...,Michael David Winery,Californian Chardonnay,13.500000,100 Chardonnay,"['Pork', 'Rich fish (salmon, tuna etc)', 'Vege...",77.65,46.29527,33.83,47.480

2.2 Initial data exploration and cleaning

In [23]:
# Check DataFrame structure and data types
print(wine_df.info())

# Check for duplicates
duplicates_count = wine_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates_count}")

# Remove duplicates
wine_df = wine_df.drop_duplicates()

# Check for null values
null_counts = wine_df.isnull().sum()
print(f"Null values per column:\n{null_counts}")

# Drop rows with null values
wine_df = wine_df.dropna()

# Display the cleaned DataFrame
wine_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5145 non-null   int64
 1   Name               5145 non-null   object
 2   Rating             5145 non-null   float64
 3   Number of Ratings  5145 non-null   int64
 4   Price              5145 non-null   float64
 5   Region             5145 non-null   object
 6   Winery             5142 non-null   object
 7   Wine style         4624 non-null   object
 8   Alcohol content    5145 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      5145 non-null   object
 11  Bold               5145 non-null   float64
 12  Tannin             5145 non-null   float64
 13  Sweet              5145 non-null   float64
 14  Acidic             5145 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 603.1+ KB
None
Number of duplicate rows: 0
Null values per column:
Unnamed: 0              0
Name                    0
Rating                  0
Number of Ratings       0
Price                   0
Region                  0
Winery                  3
Wine style            521
Alcohol content         0
Grapes               2168
Food pairings           0
Bold                    0
Tannin                  0
Sweet                   0
Acidic                  0
dtype: int64

,Unnamed: 0,Name,Rating,Number of Ratings,Price,Region,Winery,Wine style,Alcohol content,Grapes,Food pairings,Bold,Tannin,Sweet,Acidic
1,1,Shotfire GSM 2018,3.9,36,19.49,Australia / South Australia / Barossa,Thorn-Clarke,Australian Rhône Blend Red,14.5,"Mourvedre, Shiraz/Syrah, Grenache","['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']",85.00,50.63000,9.05,43.00
5,5,Passion has Red Lips 2014,3.8,648,18.49,Australia / South Australia / Fleurieu / McLar...,Some Young Punks,Australian Cabernet - Shiraz,14.5,"70 Shiraz/Syrah, 30 Cabernet Sauvignon","['Beef', 'Lamb', 'Poultry']",85.00,49.37000,8.19,44.78
7,7,Jester Shiraz 2018,3.9,658,22.00,Australia / South Australia / Fleurieu / McLar...,Mitolo,Australian Shiraz,14.5,100 Shiraz/Syrah,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,46.65000,19.07,44.18
8,8,Shotfire Quartage 2016,3.8,93,17.99,Australia / South Australia / Barossa,Thorn-Clarke,Australian Bordeaux Blend,14.5,"Cabernet Franc, Malbec, Cabernet Sauvignon","['Beef', 'Pasta', 'Lamb', 'Game (deer, venison...",85.00,56.40000,10.85,65.28
9,9,Stonehorse Shiraz 2018,4.0,288,29.17,Australia / South Australia / Barossa / Baross...,Kaesler,Australian Shiraz,14.0,100 Shiraz/Syrah,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",84.04,44.21000,22.10,41.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5138,665,Sonoma Coast Pinot Noir 2013,4.1,193,39.99,United States / California / North Coast / Son...,Red Car,Californian Pinot Noir,13.3,100 Pinot Noir,"['Beef', 'Veal', 'Game (deer, venison)', 'Poul...",38.89,19.57000,7.58,54.96
5139,666,Dry Riesling 2015,3.9,184,24.99,United States / California / North Coast / Nap...,Trefethen,Californian Riesling,12.5,100 Riesling,"['Pork', 'Shellfish', 'Spicy food', 'Poultry',...",41.61,46.29527,1.21,69.68
5141,668,Pessimist Red Blend 2020,4.0,574,17.99,United States / California / Central Coast / S...,DAOU,Californian Red Blend,15.2,100 Durif,"['Beef', 'Lamb', 'Veal', 'Poultry']",85.00,53.43000,15.96,61.84
5142,669,Cabernet Sauvignon 2013,3.8,4612,34.99,United States / California / Central Coast / S...,Liberty School,Californian Cabernet Sauvignon,13.5,100 Cabernet Sauvignon,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...",85.00,49.14000,9.63,42.02
5144,671,Freakshow Chardonnay 2020,3.8,160,17.99,United States / California / Central Valley / ...,Michael David Winery,Californian Chardonnay,13.5,100 Chardonnay,"['Pork', 'Rich fish (salmon, tuna etc)', 'Vege...",77.65,46.29527,33.83,47.48

2.3 Handle outliers and missing values

In [24]:
# Statistical summary to identify potential outliers
print(wine_df.describe())

# Example: Handle outliers in the 'Price' column
price_q1 = wine_df['Price'].quantile(0.25)
price_q3 = wine_df['Price'].quantile(0.75)
price_iqr = price_q3 - price_q1
lower_bound = price_q1 - 1.5 * price_iqr
upper_bound = price_q3 + 1.5 * price_iqr

# Filter out outliers
wine_df = wine_df[(wine_df['Price'] >= lower_bound) & (wine_df['Price'] <= upper_bound)]

# Check again for missing values after outlier handling
print(wine_df.isnull().sum())

        Unnamed: 0       Rating  Number of Ratings        Price  \
count  2977.000000  2977.000000        2977.000000  2977.000000
mean    492.359758     3.993954         833.726906    27.919224
std     398.709535     0.151772        3437.283991    11.319729
min       0.000000     3.700000          25.000000     6.500000
25%     162.000000     3.900000         129.000000    19.990000
50%     374.000000     4.000000         302.000000    25.990000
75%     752.000000     4.100000         729.000000    34.950000
max    1435.000000     4.500000      159937.000000   155.000000

       Alcohol content         Bold       Tannin        Sweet       Acidic
count      2977.000000  2977.000000  2977.000000  2977.000000  2977.000000
mean         13.793886    58.510780    46.558493    13.098236    53.764090
std           1.630210    20.013632    11.378052    13.741106    15.270295
min           5.000000     1.730000     1.400000     0.010000     8.680000
25%          13.000000    44.470000    45.270000     5.830000    44.000000
50%          13.500000    61.730000    46.295270     9.050000    53.555000
75%          14.500000    74.460000    50.160000    14.780000    64.360000
max          20.500000    85.000000    84.970000    85.000000    85.000000
Unnamed: 0           0
Name                 0
Rating               0
Number of Ratings    0
Price                0
Region               0
Winery               0
Wine style           0
Alcohol content      0
Grapes               0
Food pairings        0
Bold                 0
Tannin               0
Sweet                0
Acidic               0
dtype: int64

2.4 Adding new columns to the Dataframe

In [25]:
# Extract 'Country' from 'Region'
wine_df['Country'] = wine_df['Region'].apply(lambda x: x.split('/')[0].strip())

# Extract 'Country_region' from 'Region'
wine_df['Country_region'] = wine_df['Region'].apply(lambda x: x.split('/')[1].strip() if '/' in x else None)

# Expand 'Food pairings' into individual columns
from sklearn.preprocessing import MultiLabelBinarizer

# Convert string to list
wine_df['Food pairings'] = wine_df['Food pairings'].apply(lambda x: eval(x) if isinstance(x, str) else [])

# Binarize the food pairings
mlb = MultiLabelBinarizer()
food_pairings_df = pd.DataFrame(mlb.fit_transform(wine_df['Food pairings']),
                                columns=mlb.classes_,
                                index=wine_df.index)

# Concatenate the new columns
wine_df = pd.concat([wine_df, food_pairings_df], axis=1)

# Drop the original 'Food pairings' column
wine_df = wine_df.drop(columns=['Food pairings'])

# Display the updated DataFrame
wine_df

C:\Users\keliz\AppData\Local\Temp\ipykernel_22176\631446766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_df['Country'] = wine_df['Region'].apply(lambda x: x.split('/')[0].strip())
C:\Users\keliz\AppData\Local\Temp\ipykernel_22176\631446766.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_df['Country_region'] = wine_df['Region'].apply(lambda x: x.split('/')[1].strip() if '/' in x else None)
C:\Users\keliz\AppData\Local\Temp\ipykernel_22176\631446766.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_df['Food pairings'] = wine_df['Food pairings'].apply(lambda x: eval(x) if isinstance(x, str) else [])

,Unnamed: 0,Name,Rating,Number of Ratings,Price,Region,Winery,Wine style,Alcohol content,Grapes,...,Mushrooms,Pasta,Pork,Poultry,"Rich fish (salmon, tuna etc)",Shellfish,Spicy food,Sweet desserts,Veal,Vegetarian
1,1,Shotfire GSM 2018,3.9,36,19.49,Australia / South Australia / Barossa,Thorn-Clarke,Australian Rhône Blend Red,14.5,"Mourvedre, Shiraz/Syrah, Grenache",...,0,1,0,0,0,0,0,0,0,0
5,5,Passion has Red Lips 2014,3.8,648,18.49,Australia / South Australia / Fleurieu / McLar...,Some Young Punks,Australian Cabernet - Shiraz,14.5,"70 Shiraz/Syrah, 30 Cabernet Sauvignon",...,0,0,0,1,0,0,0,0,0,0
7,7,Jester Shiraz 2018,3.9,658,22.00,Australia / South Australia / Fleurieu / McLar...,Mitolo,Australian Shiraz,14.5,100 Shiraz/Syrah,...,0,0,0,1,0,0,0,0,0,0
8,8,Shotfire Quartage 2016,3.8,93,17.99,Australia / South Australia / Barossa,Thorn-Clarke,Australian Bordeaux Blend,14.5,"Cabernet Franc, Malbec, Cabernet Sauvignon",...,0,1,0,1,0,0,0,0,0,0
9,9,Stonehorse Shiraz 2018,4.0,288,29.17,Australia / South Australia / Barossa / Baross...,Kaesler,Australian Shiraz,14.0,100 Shiraz/Syrah,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5138,665,Sonoma Coast Pinot Noir 2013,4.1,193,39.99,United States / California / North Coast / Son...,Red Car,Californian Pinot Noir,13.3,100 Pinot Noir,...,0,0,0,1,0,0,0,0,1,0
5139,666,Dry Riesling 2015,3.9,184,24.99,United States / California / North Coast / Nap...,Trefethen,Californian Riesling,12.5,100 Riesling,...,0,0,1,1,0,1,1,0,0,0
5141,668,Pessimist Red Blend 2020,4.0,574,17.99,United States / California / Central Coast / S...,DAOU,Californian Red Blend,15.2,100 Durif,...,0,0,0,1,0,0,0,0,1,0
5142,669,Cabernet Sauvignon 2013,3.8,4612,34.99,United States / California / Central Coast / S...,Liberty School,Californian Cabernet Sauvignon,13.5,100 Cabernet Sauvignon,...,0,0,0,1,0,0,0,0,0,0
5144,671,Freakshow Chardonnay 2020,3.8,160,17.99,United States / California / Central Valley / ...,Michael David Winery,Californian Chardonnay,13.5,100 Chardonnay,...,0,0,1,1,1,0,0,0,0,1

2.5 Column Removal

In [26]:
# Drop irrelevant columns (Bcz Already Separate Another Colums to Country, Country_region,Food pairings[separate the list to colums])
columns_to_drop = ['Winery','Region']
wine_df = wine_df.drop(columns=columns_to_drop)

# Display the final DataFrame structure
print(wine_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2931 entries, 1 to 5144
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    2931 non-null   int64
 1   Name                          2931 non-null   object
 2   Rating                        2931 non-null   float64
 3   Number of Ratings             2931 non-null   int64
 4   Price                         2931 non-null   float64
 5   Wine style                    2931 non-null   object
 6   Alcohol content               2931 non-null   float64
 7   Grapes                        2931 non-null   object
 8   Bold                          2931 non-null   float64
 9   Tannin                        2931 non-null   float64
 10  Sweet                         2931 non-null   float64
 11  Acidic                        2931 non-null   float64
 12  Country                       2931 non-null   object
 13  Country_region                2927 non-null   object
 14  Aperitif                      2931 non-null   int32
 15  Appetizers and snacks         2931 non-null   int32
 16  Beef                          2931 non-null   int32
 17  Blue cheese                   2931 non-null   int32
 18  Cured Meat                    2931 non-null   int32
 19  Fruity desserts               2931 non-null   int32
 20  Game (deer, venison)          2931 non-null   int32
 21  Goat cheese                   2931 non-null   int32
 22  Lamb                          2931 non-null   int32
 23  Lean fish                     2931 non-null   int32
 24  Mature and hard cheese        2931 non-null   int32
 25  Mild and soft cheese          2931 non-null   int32
 26  Mushrooms                     2931 non-null   int32
 27  Pasta                         2931 non-null   int32
 28  Pork                          2931 non-null   int32
 29  Poultry                       2931 non-null   int32
 30  Rich fish (salmon, tuna etc)  2931 non-null   int32
 31  Shellfish                     2931 non-null   int32
 32  Spicy food                    2931 non-null   int32
 33  Sweet desserts                2931 non-null   int32
 34  Veal                          2931 non-null   int32
 35  Vegetarian                    2931 non-null   int32
dtypes: float64(7), int32(22), int64(2), object(5)
memory usage: 595.4+ KB
None

In [ ]:
# Save the cleaned and prepared DataFrame to a new CSV
prepared_file_path = r"Win_df.csv"
wine_df.to_csv(prepared_file_path, index=False)

print(f"Prepared data saved to: {prepared_file_path}")

Prepared data saved to: Win_df.xlsx

2.6 Pivoting / Grouping results (Excel file)

In [ ]:
import pandas as pd

# Load the uploaded CSV file to inspect its contents
file_path = 'Win_df.csv'
data = pd.read_csv(file_path)

# 1. Average Rating by Wine Style
average_rating_by_style = (
    data.groupby('Wine style')['Rating']
    .mean()
    .reset_index()
    .sort_values(by='Rating', ascending=False)
)

In [ ]:
# 2. Top-rated Wine by Country
top_rated_wine_by_country = (
    data.loc[data.groupby('Country')['Rating'].idxmax()][['Country', 'Name', 'Rating']]
)

# 3. Food Pairing Summary
food_pairing_columns = [
    'Aperitif', 'Appetizers and snacks', 'Beef', 'Blue cheese', 'Cured Meat',
    'Fruity desserts', 'Game (deer, venison)', 'Goat cheese', 'Lamb', 'Lean fish',
    'Mature and hard cheese', 'Mild and soft cheese', 'Mushrooms', 'Pasta', 'Pork',
    'Poultry', 'Rich fish (salmon, tuna etc)', 'Shellfish', 'Spicy food',
    'Sweet desserts', 'Veal', 'Vegetarian'
]
food_pairing_summary = data[food_pairing_columns].sum().reset_index()
food_pairing_summary.columns = ['Food Pairing', 'Total']

In [ ]:
# Write all data to an Excel file with separate sheets
output_path = 'Wine_Analysis.xlsx'

with pd.ExcelWriter(output_path) as writer:

    data.to_excel(writer, sheet_name='Original Data', index=False)

    average_rating_by_style.to_excel(writer, sheet_name='Avg Rating by Style', index=False)

    top_rated_wine_by_country.to_excel(writer, sheet_name='Top Rated by Country', index=False)

    food_pairing_summary.to_excel(writer, sheet_name='Food Pairing Summary', index=False)

print(f"Analysis Pivoting / Grouping results written to {output_path}")

Analysis Pivoting / Grouping results written to Wine_Analysis.xlsx